### Step1

In [1]:
import pandas as pd
df=pd.read_csv('SMSSpamCollection.csv',encoding='Windows-1252')

In [2]:
df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [3]:
df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df.shape

(5572, 2)

In [5]:
df.columns

Index(['label', 'text'], dtype='object')

### Step2

In [6]:
df['text'].value_counts().sum()

5572

### Step3

In [7]:
df.groupby(['label']).count()

       text
label
ham    4825
spam    747

### Step4

In [8]:
X = df['text']
y = df['label']

In [9]:
#split the dataset into training and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

### Step5

In [10]:
from nltk.corpus import stopwords
def process_text(msg):
    punctuations = '''!()-[]:;"\,<>./?@#${}%^_~*&'''
    nopunc = [char for char in msg if char not in punctuations]
    nopunc = ''.join(nopunc)
    return [word for word in nopunc.split()
        if word.lower() not in stopwords.words('english')]

### Step6

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(use_idf=True,analyzer = process_text,ngram_range=(1,3),min_df=1,stop_words = 'english')

### Step7

In [12]:
X_train1 = tfidf.fit_transform(X_train)
X_test1  = tfidf.transform(X_test)

### Step8

In [13]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_train1,y_train)

MultinomialNB()

In [14]:
y_pred = clf.predict(X_test1)
y_pred

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'spam'], dtype='<U4')

### Step9

In [15]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[965,   0],
       [ 39, 111]], dtype=int64)

In [16]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         ham       0.96      1.00      0.98       965
        spam       1.00      0.74      0.85       150

    accuracy                           0.97      1115
   macro avg       0.98      0.87      0.92      1115
weighted avg       0.97      0.97      0.96      1115

### Step10

In [17]:
tfidf1 = TfidfVectorizer(use_idf=True,analyzer = process_text,ngram_range=(1,3),min_df=1,stop_words = 'english')

In [18]:
X_train = tfidf1.fit_transform(X_train)
X_test  = tfidf1.transform(X_test)

In [19]:
clf.fit(X_train,y_train)
y_pred1 = clf.predict(X_test)
y_pred1

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'spam'], dtype='<U4')

In [20]:
confusion_matrix(y_test,y_pred1)

array([[965,   0],
       [ 39, 111]], dtype=int64)

In [21]:
print(classification_report(y_test,y_pred1))

              precision    recall  f1-score   support

         ham       0.96      1.00      0.98       965
        spam       1.00      0.74      0.85       150

    accuracy                           0.97      1115
   macro avg       0.98      0.87      0.92      1115
weighted avg       0.97      0.97      0.96      1115